*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: aliceblue;
    background-color: rgb(65, 61, 61);
}

.text{
    font-family: "Arial";
    font-size: 5rem;
    text-align: center;
    line-height: 100vh;
}

span{
    display: inline-block;
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0;
}

span:nth-child(6){
    color: red;
}

@keyframes pop {
    0%{
        transform: translate(-100px,-10px) scale(0,0);
        opacity: 0;
    }
    50%{
        transform: translate(0px,0px) scale(1,1);
        opacity: 1;
    
    }
    100%{
    transform: translate(-100px,-10px) scale(0,0);
        opacity: 0;
    
    }
}

